<section>
    <div class="container">
        <div class="row">
            <div class="form-group  col-md-6 ml-4">
                <h4 class="text-center">Products</h4>
                <form action="/admin/add_product" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label for="inputsm">Name</label>
                        <input class="form-control input-sm" name="name"placeholder="Name" id="inputsm" type="text">

                        <label for="">Design</label>
                        <Input type="text" placeholder="Design" name="design" class="form-control"></Input>
                        <label for="">Price</label>
                        <Input type="text" placeholder="Price" name="price" class="form-control"></Input>
                        <label for="">Discount</label>
                        <Input type="text" placeholder="Discount" name="discount" class="form-control"></Input>
                        <label for="">Image</label>
                        <Input type="file" placeholder="Image" name="image" class="form-control"></Input>
                        <button type="submit" class="btn btn-success mt-4">Submit</button>
                </form>
            </div>

        </div>
    </div>
</section>