<link rel="stylesheet" href="/stylesheets/style.css">

<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">JewelCart</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Products <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">Cart</a>
                </li>
                {{#if user}}
                <li class="nav-item">
                    <a class="nav-link" href="#">Orders</a>
                    {{/if}}
                
                </li>
                


            </ul>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                    {{#if user}}
                     Hello,
                     {{user.first_name}}
                     {{else}}
                     Account
                     {{/if}}

                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu  " style=" padding-left:30px " aria-labelledby="dropdownMenu1">
                    {{#if user}}
                   <li><a class="pd-4" href="/logOut">LogOut</a>
                    
                     
                     {{else}}
                      <li><a class="pd-4" href="/login">Login</a>
                       {{/if}}
                     
                    
                    </li>
                    
                </ul>
            </div>


            

        </div>
    </nav>
</header>

